<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section >
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="bg-light pb-5">
  <h1 class="text-center display-1">Welcome to the Sample App</h1>
  <h2 class="text-center">
    This is the home page for the
    <a class="text-decoration-none" href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
  <div class="text-center">
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>

<%= link_to image_tag("rails-7.png", alt: "Rails logo", width: "200px"),
 "https://rubyonrails.org/" %>

 <% end %>
