<% provide(:title, 'Sign up') %>
<h1 class="text-center display-1">Sign up</h1>

<%= form_with model: @user do |f| %>
  <div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
    <%= @user.errors.full_messages_for(:name).first %>
  </div>

  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, class: "form-control" %>
    <%= @user.errors.full_messages_for(:email).first %>
  </div>

  <div class="mb-3">
    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password, class: "form-control" %>
    <%= @user.errors.full_messages_for(:password).first%>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, "Confirmation", class: "form-label" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
    <%= @user.errors.full_messages_for(:password).first %>
  </div>

  <div class="mb-3 text-center">
    <%= f.submit "Create my account", class: "btn btn-primary" %>
  </div>
<% end %>
